@charset "utf-8";
/* CSS Document */

#main
{
	margin:0 auto;
	width:100%;
	height:auto;
}

#wrapper
{
	width:100%;
	height:auto;}
	
#header
{
	float:left;
	width:100%;
	height:300px;
	border:1px solid black;
	background:#FF6;}
	
#middle
{
	float:left;
	width:100%;
	height:380px;
	border:1px solid black;
	background:#9FC;}
	
#footer
{
	float:left;
	width:100%;
	height:40px;
	border:1px solid black;
	background:#CCC;}
	
	
	
	