<style>

#footer
    {
     text-align:center;
     font-color:black;
     background:#09F;
     line-height:60px;
     width:100%;
     height:70px;
	 }

 a
  {
 	color:#000;
	text-decoration:none;}

 a:hover
  {
	color:#000;
	display:block;
	background:#0F6;
	height:70px;}

 </style>



<h1 style="text-align:center;color:red">AUTHORIZATION ERROR</h1>
<h2 style="text-align:center">You are not an authorized user </h2>
<h2 style="text-align:center">FIRST LOGIN BELOW</h2>

<h3 id="footer"><a href="login" style="font-color:black"><b>LOGIN</b></a></h3>
