{% extends 'master_seller.html' %}
{% block m4 %}

<h1>Edit and save</h1>

<form method="post" action="edit_seller_1">
    <p>Name<input type="text" name="T1" value="{{ result[0] }}"></p>
    <p>Address <input type="text" name="T2" value="{{ result[1] }}" /> </p>
    <p>Contact <input type="text" name="T3" value="{{ result[2] }}" /> </p>
    <p>Email <input readonly type="email" name="T4" value="{{ result[3] }}" /> </p>
    <p><input type="submit" name="B1" value="Save Changes"></p>

</form>

{% endblock %}