<html>
<head>
<title>template</title>
<link href="../static/css/A.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../static/css/amajon_menu_seller_files/mbcsmbmcp.css" type="text/css" />

</head>

<body>
<div id="main">
 <div id="wrapper">
 	<div id="header">
    <h1 style="float:right;margin-top:0px;">AMAJON.IN</h1>
    </div><!---end of header-->

    <div id="menu">

    	<!-- Navigation menus created with the free version of Easy CSS Menu downloaded from www.easycssmenu.com
     You are free to use this menu code for personal, non-commercial use only. Any other use is a serious violation of copyright laws.
     You are required to retain this comment block in your website code in an unchanged fashion.
     The above limitations do not apply on menus created with the paid version of the software. -->
<div id="mbmcpebul_wrapper">
  <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
  <li class="first_button"><div class="buttonbg gradient_button gradient40"><a href="sellerhome">Home</a></div></li>
  <li><div class="buttonbg gradient_button gradient40"><a href="show_product_sellers">Your Products</a></div></li>
  <li><div class="buttonbg gradient_button gradient40"><a href="add_product">Add Products</a></div></li>
  <li><div class="buttonbg gradient_button gradient40"><a href="show_sellerprofile">Edit Profile</a></div></li>
  <li><div class="buttonbg gradient_button gradient40"><a href="change_password_seller">Change Password</a></div></li>
  <li><div class="buttonbg gradient_button gradient40"><a href="revenue_seller">Revenue</a></div></li>
  <li class="last_button"><div class="buttonbg gradient_button gradient40"><a href="logout">Log-Out</a></div></li>
  </ul>
</div>
<!-- Menus will work without this javascript file. It is used only for extra
     effects, improved usability, compatibility with very old web browsers
     and support for touch screen devices. -->
<script type="text/javascript" src="../static/css/amajon_menu_seller_files/mbjsmbmcp.js"></script>

    </div><!----end of menu--->

    <div id="middle" style="min-height:1500px;">

     {% block m4 %}
        {% endblock %}

    </div><!---end of middle-->

    <div id="footer">
    <h3 style="text-align:center;margin-top:40px;text-face:70px">copyright@2019 vgt classes</h3>
    </div><!--end of footer--->


</div><!--end of wrapper-->
</div><!---end of main--->


</body>
</html>
